<head>
    <title>AWA Register for Account</title>
</head>

<body>
    <a href="/" class="back-home">⇦ Home</a>
    <div class="register">
        <div class="register-container">
            <div class="login-box">
                <div class="login-cards">
                    <div class="log-in">
                        <h1>Register</h1>
                        <p>Have an account? <a href="/login" class="create-account"> Login</a></p>
                    </div>
                    <form action="/register" method="post">
                        <div class="login-form">
                            <div id="username">
                                <p>Email/Username</p>
                                <label for="uname">
                                    <input type="text" name="username" placeholder="Enter email or username" size="54" required>
                                </label>
                            </div>
                            <div id="password">
                                <p>Password</p>
                                <label for="psw">
                                    <input type="text" name="password" placeholder="Enter password" size="54" required>
                                </label>
                            </div>
                            <div id="submit">
                                <button type="submit">Continue</button>
                            </div>
                        </div>
                    </form>
                    <div class="border">
                        <div class="line"></div>
                        <span>Or</span>
                        <div class="line"></div>
                    </div>

                    <form action="/auth/google" method="post">
                        <div class="google-login">
                            <input type="image" src="/image/googleicon.png" alt="googleicon" height = "75" width="300" name="submit">
                        </div>
                    </form>
                </div>
                <div class="login-footer">
                    <!--                  stuff here for login footer like TOS or smthn-->
                </div>
            </div>
        </div>
    </div>
</body>
