<nav>
    <div class="menu-container">
        <a href="#" class="menu-item">Home</a>
        <a href="#" class="menu-item">About</a>
        <a href="#" class="menu-item">Your List</a>
        <!--        change to be dyanmic and say the users name instead of saying login-->
        <a href="#" class="menu-item">Login</a>
    </div>
</nav>
