@import url("https://fonts.googleapis.com/css?family=Lato:300,400|Poppins:300,400,800&display=swap");

body {
    background-image: url("https://wallpaperaccess.com/full/2873577.png");
    width: 100vw;
    height: auto;
    margin: 0;
    font-family: 'Poppins', serif;
}

nav {
    position: fixed;
    display: block;
    justify-content: center;
    width: 100%;
}

nav .menu-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    flex-basis: 100%;
}

.menu-item {
    margin: 20px;
    color: white;
    text-decoration: none;
}

.menu-item:hover {
    animation: enlargeMenuItem 1s forwards;
}

.container, .about, .anime, .register {
    width: 100%;
    height: 100vh;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .box {
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.container .box .title {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
}

.container .box .title .block {
    width: 0;
    height: inherit;
    background: #ffb510;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
}

.container .box .title h1 {
    color: #fff;
    font-size: 48px;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    margin: 0;
    align-items: baseline;
    position: relative;
}

.container .box .title h1 span {
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ffb510;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -0.5em;
}


.button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 108px;
    text-align: center;

    font-size: 18px;
    text-decoration: none;
    color: white;
    border: white 1px solid;
    padding: 10px 20px;
    border-radius: 10px;
    opacity: 0;
    animation: mainFadeIn 1s forwards;
    animation-delay: 3.5s;
}

.button:hover {
    background: #ffb510;
    color: #fff;
    border: #ffb510 1px solid;
}

.about {
    background-image: url("http://wallpoper.com/images/00/36/17/48/nichijou_00361748.png");
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;
    color: #fff;
}

.about-title {
    grid-column: 2/4;
    justify-self: center;
    text-align: center;
    margin-top: 4em;
}

.about-desc {
    margin-top: 6em;
    grid-column: 2/3;
    grid-row: 2/3;
}

.about-pic {
    grid-column: 3/4;
    grid-row: 2/3;
    margin-left: 2em;
    /*place holder pic until we get smthn better*/
    background-image: url("https://blog.optimalworkshop.com/wp-content/uploads/2020/03/10-examples-of-great-website-navigation-and-why-they-are-awesome.png");
}


/* ================ Login Page CSS - ===========*/
.login-page {
    background-image: url("https://getwallpapers.com/wallpaper/full/8/6/5/419846.jpg");
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.back-home {
    position: absolute;
    top: 1em;
    left: 2em;
    font-size: 1.5em;
    color: white;
    text-decoration: none;
}

.login-container, .login-desc-box {
    display: flex;
    align-content: center;
}

.login-container {
    grid-column: 2/3;
}

.login-desc-box {
    justify-content: center;
}

.login-desc {
    color: white;
}

.login-heading {
    display: flex;
    align-content: center;
}

.login-icon {
    width: 70px;
    height: 70px;
    background-image: url("https://m.media-amazon.com/images/I/4141ztFVb3L._SS500_.jpg");
    background-size: contain;
}

.login-heading h2 {
    margin-left: 0.5em;
}

.login-box {
    border-radius: 5px;
    width: 510px;
    height: 600px;
    background-color: white;
    display: flex;
}

.log-in h1 {
    margin-top: 2em;
    margin-bottom: 0;
}

h1 + p {
    margin-top: 0;
}

.login-cards {
    margin-left: 3em;
}

.create-account {
    text-decoration: none;
}

.login-form p {
    margin-bottom: 0;
    font-size: 3px;
    color: darkgrey;
}

#password, #submit {
    margin-top: 1em;
}

.login-form {
    position: relative;
}

.login-form input {
    height: 30px;
    border-radius: 5px;
    border-color: darkgrey;
}

#submit button {
    background-color: #1473e6;
    border-color: #1473e6;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 30px;
    position: absolute;
    right: 0;
}

.border {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5em;
}

.line {
    width: 190px;
    height: 2px;
    background-color: darkgrey;
    justify-self: center;
    align-self: center;
}

span {
    margin-left: 0.2em;
    margin-right: 0.2em;
    color: darkgrey;
}

.google-icon {
    width: 25px;
    height: 25px;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAN8AAADiCAMAAAD5w+JtAAABWVBMVEX////qQzU0qFNChfT7vAUufPPk7f08gvR0o/Zzofb7uQD7uADpNCL/vQAbokTqPi/pOiorpk3pLxvpNyYlpEnpMR7vfnbwgnv8wgDd7+HtZFrpKxb+9fTudGvpNjbc5/1XtG7y+fRpu330pqH5zsvubWTympT98vH3v7zsWU773tz94qmFrPdXkfUqevPD1fuqxPkYp1fM5tLh8eX86Of61dPrSjzwioP2trL0raj/9+T80nL7xDj8zFr92Yv+7cf+9Nvy9v5CrV5bk/WKyJmYzqV8woy1275juHczqkOn1bHoHgDrUkbwhnLwdjf1ly/5sSLuZjjziTP3pyf8x0bsWDjwezX1mizuazn4qif804H95LGbuvn/++/93ZzJ2fvq1IWlszhwrkrguiHAtzGNsURXrFHWuik5o31Kk9lJnrRJjuVJmcRHo5tBqW5KmMpIoaFBp3lesJbAfuAmAAALQ0lEQVR4nO2c6X/aVhaGFQxxjGUtINmxMQ2bAZPETlmMnaVNCAbb42lnpp12pnXaWdvZ2ln+/w8jCQkk0HKP7ibx8/spX0B6fM495733HiII9yKlw1a/3+l0+v1+65D3uxDTYWvQrg93D87EUqlUsGX8Uzk7KA/r7UY/vaitRn3vWC7oYlGR5QcrkmWlKOoF5bZcb/d5vytQh4N6WS6JRT8uH06xUCzXGy3eb42oTv1A0YsIZB5KRRePmw3e7x6lw/aeXICyuRj1cju5C/Lw/EgUlXhsc0ZRPEomYqOsizEDt4yo7yYtUftNRScCZyPqSjNBNbV9UMJMy1UppaNkBLFVV8jk5bJk/cEF95XYGopFGnAzFZUmV8LWkHxieqWUhtz6/mETtxsgEYpNPnh12rFzVCxesKc7lymuu2WJZ4xr6eBWZ0dnSC4cMeyHh7sFKh0hnJDZMmwXGS08r4pskrR1xDY1F5ILe/S7YTvu7oeEFHlAGW+3wI/OVInqKuw84LLy3Cre0iukFyWOuelILrUp4fHOTUeFIQ261i333HRUPCbvuQdKAnLTkayQrqPnJd5MXpXOieI1E7L0FvoFScBdXpYlUOIuQbwjhlshNBHFO0hM4XREFO/4Ho+t1h1vb73x1ry0kIxeeb0bw1DkjbMsotG7SJwpIxq9RsIsNeHo9ZOXnCSjJ5wlaL9niWj0hHLSOgPZ6NWTtiMiizcgXVusaSxRtySKRQV62kE2OQ9JzkIoRb1UPNhrXrTbjcGgMxg02ufNYfmsVBCRKclGj9ziU0T9dngx8L826LSbB0Ud5VFkoyecE1l8crFQHLYjTvIOG82zUtSVBuHo9UksPqVwXO8gPu/ioBBmdAlHTzjAXn2yKA4R4WzEkCEawtETLnCzUy4cx7giaB/4XwqTjl4L01XLhaOYh8udsg8h6egJZazslEtHoMT0qlNevqEiHT2hgRU+/RjzYmBw67H1xPGEMww6RSRwaH7hKjTk8eoYu6LCLpHr/1bZSSHyeK34By6KTGx8oz0LIXk8YRjbmOllgq9hzaBQwIvvXEqER+DqJZ08nrAbd7Kf/FxKgwJeP2ZvoHEfTkO/jLf6dNIWg5Je5j/7KAYenXENCnqVf/w5HJDd3CKmPmxns49/dQYkLNR5vzeqPslnTf0OBKinJXqCMMPLgnJUTMvaE4SnNl/28e+RPbZC0rRQ1uvsQr9GC6F8zPul0fV228X3+DcogLLM/edB6HqVz7oBv0DI0QLGTp25PHgG4PZvo0Koc/hVSWw9XeIzCL8KB0xTbRGEL5fxDMCvQwHTtPgs77IKGJajpWT8uhJR362k50yBOapQ2J5R1Gt/vOAcTVV2+qfnDNDfcOtkx4Np69uA9LTksylMk3Ex9SYEz89wF2j/DIiwwsJn5ehS+I54vzBMnwYuP0feTWEpTcZMmO9sw0LoNtxpC19gd3ADujaFaVt9HyLDZ8nZFKateCIsP0+OirR+n0ZLQeZsBfALi6/I+32hCu1+HsCsYbiV9Bwp2UIMn0X41Ud6yqqL8BJt+dmAX5/xfl+oEMuLo2/wnvaQkRZPjO7ubm1/ise3dZJjoZMn8ye+AfFl8fCErc0NFsq9mD8Rwb249CYdfJvPnAd+AOHln6aDb+O580BQ+cxuv00J3+Y7+4Gw8pnHxGPGl3MKTOjZxIpwlx87vlP7gaD2kP8kLXybd/YDX4H4vk0N3yP7gcju2hR2eWHH5xRQUPvDLi/M+DZy9gMheNjuhSHfid0gQO3hy/Tw5R7C+fLY7YEh36wBBl89+PFhtweGfLMGCLJn+e9SxDfbQbwF8eG6a4Z8m+vOdxeDD9u+3PPd893zufhg/SF99WVt+5/NB/MvaeKzTwhBfJiH14nnS5O/tvlAx0tp2h/ZB0wQvDTtb3Pfzx64tucT9gHomp4vzfnW9HxwI2efv6BOF8z4UnO+u3FiP3BNz+c3Nu0HAq+n08I3P98FGbQU3Y9tOU8EhS8195uLC1xYA0zJ/fTcfq7pfMHi/g/WIPDnQ1jf3wIL6M4fUsLn3L/DdvA7f/wYky+3GVsgwMUjAXTZP30sdbH47rYexRaAbtEeAA5758+ZTEadYPFh6F0OwHe3+BxqgTFy0+DLSFVOfKcAvkX5RC0wOzt/tfAy2g0nvjvAAlyUT8T5ciM3Z3iZzIgT33N0vPntuyUEB7PzF4fOSFC8ChNXDyHL7737k5EjPvPctKRWuPC9iFleohfgzuMfXHi8AvgesvxOPR8Nj9/Ojx46TgGEdIf58IStsA7ozU1+AYSkp9u9mFr9dfgCz7Asy3hcSiikei42fzMF7+F3flyF49IDvwel5+nSp4M6hG1ZfABZmxhIdZnPZs3lb9H8c3NWYmps8Z6cQNLz/fLHffdIlp0OEuMSA9o2erufJZ//nyEwN+0IsszQJ6Di6TaftlYqqF9b4JehoNW33B1MLXtsl50OzFB2NRSyM1rtDpa8p2huOx0MuM8I7x0ses7Nn0duDxqZm4yX4DPgmZTvlyxa4M7rH5DwWPlQUGv3rZ6m5hVmxU4HS2NRY4DZ6Vc9LeVBuTmTNKbPB6ydi19WLembfLhl8Qe8pI33DJad7l/+eWWa7AA7HQZIuUvcAfFcB9fLepWPsCwcIngK8Z2mfJvfTC/zsNx0ACmuQVhjt8IXUF1MTdQYeAYgtRNtON5mUHUx1ZNi8WW0Cp1G/wKanD47W49iBjCjZmhYtTs4XoB3cVSNGUAjR6fE8R6BkzOkOdgaa7EBCVuZh8/jXIRuRnxrNTafkaMkd/QvcnHwosInCDexM9Sso6TKzLutGLlpKvqr4+MZIdTIrMLp3zZi3dJHh08QuhgBNEJYwS+k+xVJzfw9VgBRvr4Ws0fYIZRqeIS9mmS+wPU/4IDhvc9R/B5BgLA7ozMB/wfN0dVTT39NMQENwkq8UjqtSIvk0Ub/hAGehDhPj66wMnRGqF72gHD7Y83bnNTrf0FyNGTjsCTcDLWkSZUbdMTueCSt/lWvfwJ0wc3Afd+KsDPUkqpJo8tuZEus7t/UJB84C/BnZBeDVlxs4dVQlzRJGk2m+wGQ1f3puKJKWvDTkBuFe14pWlVSfNY7GpBqZTKeTrv7lrrd6fRyXBtJUhiaLaNRoIQw+FTCV3hd3g9S1QxMR5qmqah/wmsUM4PiXDy6JA0YX+ooMkdh2WkJv0kQkxppZgC101GVN5Vb1z+FDn+e+F2oRKkXfytIXtrPIWYm53/hECXiNQZHqvrvoNMYVN+5Ipy9Lnld/ycoR+GLz9Y4WYD/9TUzyLbaR7UkrUF/MwPyZSu6ShSgj5mJWVvmqiSnDZpaNjM55E1RkEbJAjR2va4cjeFbkg7o3vXG7gxuVRMGuDAzRPAMwIStQWPXa13Jh16FgZSwKmqamRyp6FmqJarRZ0wzkyMWPVPJcjIZ83iUJF7SvGhGuiKLl7DdBI0b/14mMWWU0kjKVUJCSOEufKZEHDppI+jJP7r2+ecovWEbU1XOnVClPhR9E3BVwEQ0c9NRr8IthCymTQ1No28NaEgbsfpJCY9VqDIK3kzdDOMtBYnBDJAuNYaEWoZWSw9WdcyqkrJNzYV6ExaEKrmxLzhhjTahKl3Rb3lhhBOJ4jrEnoYioCq1SqNJE66xm2vqN7yCKVUaXXJbdyvqToJGWOLBaVKNz39yEajq9Aph2gNJ5uhTckK3UPWmgo1oDj0B5rpYqzoNnLVCgZNAQ2ucZM7KgeOomoEbT5OYlj6qdi9rKiqkNdlUSQ3bXAbkZGRR+s9izUa2tFHtcpr4nAxUtdqdjidXI2lZ6uhqcjnt9tIWtUBVqz1rerBnqLo2VJz1f33x2lLgcxSuAAAAAElFTkSuQmCC");
    background-size: contain;
}

.google-login {
    display: flex;
    justify-content: center;
    align-content: center;
    color: white;
    margin-top: 1em;
}
/* ================ Register Page CSS -  ===========*/

.register {
    background-image: url("http://getwallpapers.com/wallpaper/full/5/b/c/420486.jpg");
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

/* ================ Anime List Page CSS -  ===========*/


.anime {
    z-index: -2;
    background-image: url("https://i.pinimg.com/originals/12/25/8a/12258aa80d5bbe28120b77537dcf8668.png");
    display: flex;
    justify-content: center;
}

.anime-canvas {
    width: 80vw;
    height: 80vh;
    margin-top: 10em;
    border-radius: 5px;
    background-color: lightgrey;
}

.anime header {
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.anime h1 {
    margin-left: 2em;
}

.utility input {
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 2px solid darkgrey;
    background-color: lightgrey;
}

.utility button {
    background-color: mediumseagreen;
    color: white;
    margin: 1.5em;
    width: 10em;
    height: 4em;
    border-radius: 8px;
}

.anime-canvas .border {
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 1em;
}
.anime-nav {
    background-color: lightsalmon;
    border-radius: 5px;
    height: 40px;
    justify-content: space-around;

}
/**/
.anime-nav, .anime-cards {
    width: 95%;
    display: flex;
    align-items: center;
}

.anime-cards {
    height: 199px;
}

.anime-nav * {
    color: black;
}

/* Individual Anime page CSS*/


#indiv_anime_container
{   
    display: flex;
    
    background-repeat: no-repeat;
    background-size: 1000px 1000px;
    color : black;
    width:80vw;
    height: 80vh;

}
#indiv_anime_container > div
{
    grid-row:1;
    padding: 20px;

}
#anime_background{
    
    
}
#indiv_anime_body{
    background: none;
    display: grid;
    justify-content: center;
    grid-template-rows: 0.5fr 1fr;
}
#Anime_Title{
    font-weight: bold;
    font-size: larger;
    position:relative;
    top:-40px;
}
#Anime_Picture > img
{   
    border-style: outset;
    height: 300px;
    width: 300px;
    position:relative;
    top:-40px;
}

#btnAdd_to_list {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    width: 200px;
    height:50px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  #btnAdd_to_list span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.1s;
  }
  
  #btnAdd_to_list span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  #btnAdd_to_list:hover span {
    padding-right: 25px;
  }
  
  #btnAdd_to_list:hover span:after {
    opacity: 1;
    right: 0;
  }













/* CSS animation keyframes */
@keyframes mainBlock {
    0% {
        width: 0;
        height: 180px;
        left: 0;
    }
    50% {
        width: 100%;
        height: 180px;
        left: 0;
    }
    100% {
        width: 0;
        height: 180px;
        left: 100%;
    }
}

@keyframes mainFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes popIn {
    100% {
        width: 20px;
        height: 20px;
        background: #e9d856;
        border: 0 solid #e9d856;
        bottom: 15px;
    }
}

@keyframes enlargeMenuItem {
    100% {
        font-size: 1.2em;
    }
}
