
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../public/styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Watch List</title>
</head>

<body id="indiv_anime_body">

    <div id="anime_background" style="background-image: url('https://images3.alphacoders.com/859/thumb-1920-859804.png');">
        <!--db anime_background_url-->
    </div>    


    <div id="indiv_anime_container">
        
        <div id="Anime_Picture">     
            <img src="https://upload.wikimedia.org/wikipedia/en/8/88/So_I%27m_a_Spider%2C_So_What%3F%2C_volume_1.jpg" alt="Boku no Hero Academia">
            <!--db anime_url-->
            <div id="Anime_Title">
                <!--db anime_title-->
                Boku no Hero Academia
                <button id="btnAdd_to_list" class="button" style="vertical-align:middle"><span>add to list </span></button>
        </div>
        </div>
        <div id = "Anime_alias">
            <!--db anime_desc-->
            My Hero Academic
            
        </div>
        
        <div id="Anime_desc">
            <!--db anime_full_desc-->
            It, a mysterious immortal being, is sent to the Earth with no emotions nor identity. However, It is able to take the shape of those around that have a strong impetus.
At first, It is a sphere. Then, It imitates the form of a rock. As the temperature drops and snow falls atop the moss, It inherits the moss. When an injured, lone wolf comes limping by and lays down to die, It takes on the form of the animal. Finally, It gains consciousness and begins to traverse the empty tundra until It meets a boy.
The boy lives alone in a ghost town, which the adults abandoned long ago in search of the paradise said to exist far beyond the endless sea of white tundra. However, their efforts were for naught, and now the boy is in a critical state.
Acquiring the form of the boy, It sets off on a never-ending journey, in search of new experiences, places, and people.

        </div>
        
    </div>



</body>

</html>