<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>AWA Homepage</title>

</head>

<body class="homepage">
    <nav>
        <div class="menu-container">

            <a href="/" class="menu-item">Home</a>
            <a href="#about" class="menu-item">About</a>
            <!--        change to be dyanmic and say the users name instead of saying login-->
            <a href="/login" class="menu-item">Login</a>
        </div>
    </nav>
    <header class="container">
        <div class="text-container">
            <div class="box">
                <div class="title">
                    <span class="block"></span>
                    <h1>Anime Watchlist<span></span></h1>
                </div>
            </div>
            <a href="/login" class="button">Get Started</a>
        </div>
    </header>

    <section class="about">
        <div class="about-title">
            <h4>Track, organize, and personalize your favourite list of animes today! </h4>
        </div>
        <div id="about" class="about-desc">
            <h3>About Us</h3>
            <p>We are a new, fresh, and modern anime watchlist website. The AWA team always aim for the best results and best user experience as much as possible. We give our clients the most up-to-date anime information and trending anime shows.

            </p>
            <p>We are the AWA team.</p>
            <p> For otakus, by otakus.</p>
        </div>
        <div class="about-pic">

        </div>
    </section>

    <footer>
        <p>AWA development team 2021 &copy;</p>
        <p> For otakus, by otakus.</p>
    </footer>

</body>

</html>