<head>
    <title>AWA List</title>
</head>

<body>
    <nav>
        <div class="menu-container">

            <a href="/" class="menu-item">Home</a>
            <a href="/" class="menu-item">About</a>
            <a href="/list" class="menu-item">Your List</a>
            <!--        change to be dyanmic and say the users name instead of saying login-->
        </div>
    </nav>
    <div class="anime">
        <div class="anime-canvas">
            <header class="welcome">
<!--                 change it so that all animes display number of animes in users list-->
                <h1>All Animes (0) </h1>
                <div class="utility">
                    <input type="text" placeholder="ðŸ” Search for anime">
                    <button id="+Add Anime">Add New Anime</button>
                </div>
            </header>
            <div class="border">
                <div class="anime-nav">
                    <span class="anime-title">Anime</span>
                    <span class="tags">Tags</span>
                    <span class="status">Status</span>
                </div>
            </div>
<!--            <div class="anime-cards">-->
<!--                <div class="anime-card">-->
<!--                    <div class="anime-title">-->
<!--                        <img src="https://upload.wikimedia.org/wikipedia/en/0/0b/Your_Name_poster.png" alt="Your name">-->
<!--                        <p>Your name</p>-->
<!--                    </div>-->
<!--                    <div class="tags">-->
<!--                        <span>Romance</span>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</body>
